body{
overflow: hidden;
font-family:sans-serif;
margin: 0;
}

li{
    font-size: larger;
    text-decoration: none;
}
.as{
    display: flex;
}
.ff:hover{
    color: aliceblue;
}
a {
    position: relative;
    text-decoration: none;
    color: black;
}

a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s;
}

a:hover::before {
    width: 100%;
   
}
.button{
    color: chocolate;
    transition: 0.3s;
}


